useDynLib(stringmagic, .registration = TRUE)

# string_*
export(string_ops, string_is, string_any, string_all, string_which, string_get, 
       string_clean, string_split2df, string_split2dt, string_fill, string_vec, 
       string_replace)
       

export(string_ops_alias, string_vec_alias, string_clean_alias)

export(parse_regex_pattern)

# smagic
export(smagic, .smagic)
export(smagic_register_fun, smagic_register_ops)
export(smagic_alias)

export(cat_magic, cat_magic_alias)
export(message_magic, message_magic_alias)

#
# imports
#

importFrom(Rcpp, evalCpp)

importFrom("utils", "as.roman", "capture.output", "head", "tail")
